# 1. Data types

1.1 Number

In [9]:
1+1

2

In [10]:
1 * 3

3

In [11]:
1 / 2

0.5

In [12]:
2 ** 4

16

In [13]:
4 % 2

0

In [14]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

1.2. Variable assignment

In [15]:
name_of_var = 2

In [16]:
x=2
y=3

In [17]:
z = x + y

In [18]:
z

5

1.3. Strings

In [19]:
'single quotes'

'single quotes'

In [20]:
"double quotes"

'double quotes'

In [21]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

1.4.Printing

In [22]:
x = 'hello'

In [23]:
x

'hello'

In [24]:
print(x)

hello

In [25]:
num = 12
name = 'Sam'

In [26]:
print('Ny number is: {one}, and my name is: {two}'.format(one=num,two=name))

Ny number is: 12, and my name is: Sam

In [27]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

1.5. Lists

In [28]:
[1,2,3]

[1, 2, 3]

In [29]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [30]:
my_list = ['a','b','c']

In [31]:
my_list.append('d')

In [32]:
my_list

['a', 'b', 'c', 'd']

In [33]:
my_list[0]

'a'

In [34]:
my_list[1]

'b'

In [35]:
my_list[1:]

['b', 'c', 'd']

In [36]:
my_list[:1]

['a']

In [37]:
my_list[0]='NEW'

In [38]:
my_list

['NEW', 'b', 'c', 'd']

In [39]:
nest = [1,2,3,[4,5,['target']]]

In [40]:
nest[3]

[4, 5, ['target']]

In [41]:
nest[3][2]

['target']

In [42]:
nest[3][2][0]

'target'

1.6. Dictionaries

In [43]:
d = {'key1':'item1','key2':'item2'}

In [44]:
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d['key1']

'item1'

1.7. Booleans

In [46]:
True

True

In [42]:
False

False

1.8. Tuples

In [47]:
t= (1,2,3)

In [48]:
t[0]

1

In [49]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

1.9. Sets

In [50]:
{1,2,3}

{1, 2, 3}

In [51]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

# 2. Comparison Operators

In [48]:
1 > 2

False

In [49]:
1 < 2

True

In [50]:
1 >= 1

True

In [51]:
1 <= 4

True

In [52]:
1 ==1

True

In [53]:
'hi' == 'bye'

False

# 3. Logic Operators

In [52]:
(1 > 2) and (2 < 3)

False

In [53]:
(1 > 2) or (2 < 3)

True

In [54]:
(1 == 2) or (2 == 3) or (4 == 4)

True

# If, elseif, else Statement

In [55]:
if 1 < 2:
    print('Yep!')

Yep!

In [56]:
if 1 < 2:
    print('yep!')

yep!

In [57]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [58]:
if 1 > 2:
       print('first')
else:
    print('last')

last

In [59]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

# 5. For Loops

In [60]:
seq = [1,2,3,4,5]

In [61]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [62]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

# 7.Range

In [63]:
range(5)

range(0, 5)

In [64]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

# 8. List Comprehension

In [66]:
x = [1,2,3,4]

In [67]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [68]:
[item**2 for item in x]

[1, 4, 9, 16]

# 9. Functions

In [69]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [70]:
my_func

In [71]:
my_func()

default

In [72]:
my_func('new param')

new param

In [73]:
my_func(param1='new param')

new param

In [75]:
def square(x):
    return x**2

In [76]:
out = square(2)

In [77]:
print(out)

4

# 10.Lambda expression

In [78]:
def times2 (var):
    return var*2

In [79]:
times2(2)

4

In [80]:
lambda var: var*2

# 11.Map and filter

In [81]:
seq = [1,2,3,4,5]

In [82]:
map(times2,seq)

In [83]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [84]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [85]:
filter(lambda item: item%2 == 0,seq)

In [86]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

# 12.Methods

In [89]:
st = 'hello my name is Sam'

In [90]:
st.lower()

'hello my name is sam'

In [91]:
st.upper()

'HELLO MY NAME IS SAM'

In [92]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [93]:
tweet = 'Go Sports! #Sports'

In [94]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [95]:
tweet.split('#')[1]

'Sports'

In [96]:
d

{'key1': 'item1', 'key2': 'item2'}

In [97]:
d.keys()

dict_keys(['key1', 'key2'])

In [98]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [99]:
lst = [1,2,3]

In [100]:
lst.pop()

3

In [101]:
lst

[1, 2]

In [102]:
'x' in [1,2,3]

False

In [103]:
'x' in ['x','y','z']

True

# IV.Python basics - Exercises

In [104]:
7**4

2401

In [108]:
s = "Hi there Sam!"

In [109]:
spl = s.split()
spl[2]= 'dad'
spl

['Hi', 'there', 'dad']

In [117]:
planet = "Earth"
diameter = 12742

In [118]:
print ('The diameter of {} is {} kilometers'.format(planet,diameter))

The diameter of Earth is 12742 kilometers

In [126]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [127]:
lst[3][1][2][0]

'hello'

In [128]:
d= {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [130]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [131]:
def domainGet(str):
    return str.split('@')[1]

In [132]:
domainGet('user@domain.com')

'domain.com'

In [133]:
def findDog(str):
    return "dog" in str

In [134]:
findDog('Is there a dog here?')

True

In [135]:
def countDog(str):
    word = 'dog'
    return sum(i == word for i in str.split())

In [136]:
countDog('This dog runs faster than the other dog dude!')

2

In [137]:
seq = ['soup','dog','salad','cat','great']

In [138]:
list(filter(lambda item: item[0]=='s',seq))

['soup', 'salad']

In [139]:
def caught_speeding(speed, is_birthday):
    limit1 = 60
    limit2 = 80
    if(is_birthday == True):
        limit1 = limit1 + 5
        limit2 = limit2 + 5
    if(speed <= limit1):
        return 'No Ticket'
    elif(speed <= limit2):
        return 'Small Ticket'
    else:
        return 'Big Ticket'

In [140]:
caught_speeding(81,True)

'Small Ticket'

In [141]:
caught_speeding(81,False)

'Big Ticket'