#### Data types

##### Numbers

In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
2**4

16

In [5]:
4%2

0

In [6]:
5%2

1

In [7]:
(2+3)*(5+5)

50

##### Variable assignment

In [8]:
name_of_var=2

In [9]:
x=2
y=3

In [10]:
z=x+y

In [11]:
z

5

##### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

##### Printing

In [15]:
x='hello'
x

'hello'

In [16]:
print(x)

hello

In [17]:
num=12
name='Sam'

In [19]:
print('My number is: {one}, and my name is: {two}')
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: {one}, and my name is: {two}
My number is: 12, and my name is: Sam

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

##### Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list=['a','b','c']

In [25]:
my_list.append('d')

In [26]:
my_list

['a', 'b', 'c', 'd']

In [28]:
print(my_list[0])
print(my_list[1])
print(my_list[1:])
print(my_list[:1])

a
b
['b', 'c', 'd']
['a']

In [29]:
my_list[0]='NEW'

In [30]:
my_list

['NEW', 'b', 'c', 'd']

In [31]:
nest=[1,2,3,[4,5,['target']]]

In [33]:
nest[3]

[4, 5, ['target']]

In [34]:
nest[3][2]

['target']

In [35]:
nest[3][2][0]

'target'

##### Dictionaries

In [36]:
d={'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [37]:
d['key1']

'item1'

##### Booleans

In [38]:
True

True

In [39]:
False

False

##### Tuples

In [40]:
t=(1,2,3)

In [41]:
t[0]

1

In [42]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

In [43]:
{1,2,3}

{1, 2, 3}

In [44]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

#### Comparison Operators

In [45]:
1>2

False

In [46]:
1<2

True

In [47]:
1>=1

True

In [48]:
1<=4

True

In [49]:
1==1

True

In [51]:
'hi'=='bye'

False

#### Logic Operators

In [52]:
(1>2) and (2<3)

False

In [53]:
(1>2) or (2<3)

True

In [54]:
(1==2) or (2==3) or (4==4)

True

#### If, elseif, else Statement

In [55]:
if 1<2:
    print('Yep!')

Yep!

In [56]:
if 1<2:
    print('first')
else:
    print('last')

first

In [57]:
if 1==2:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

middle

#### For loops

In [58]:
seq=[1,2,3,4,5]

In [59]:
for item in seq:
    print(item)

1
2
3
4
5

In [60]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [61]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

#### While loops

In [62]:
i=1
while i<5:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

#### Range

In [63]:
range(5)

range(0, 5)

In [64]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

#### List comprehension

In [66]:
x=[1,2,3,4]

In [67]:
out=[]
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [68]:
[item**2 for item in x]

[1, 4, 9, 16]

#### Functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func('new param')

new param

In [75]:
my_func(param1='new param')

new param

In [76]:
def square(x):
    return x**2

In [77]:
out = square(2)

In [78]:
print(out)

4

#### Lambda expression

In [79]:
def times2(var):
    return var*2

In [80]:
times2(2)

4

In [81]:
lambda var:var*2

#### Map and filter

In [82]:
seq=[1,2,3,4,5]

In [83]:
map(times2,seq)

In [84]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [85]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [86]:
filter(lambda item: item%2==0,seq)

In [87]:
list(filter(lambda item: item%2==0,seq))

[2, 4]

#### Methods

In [88]:
st='hello my name is Sam'

In [89]:
st.lower()

'hello my name is sam'

In [90]:
st.upper()

'HELLO MY NAME IS SAM'

In [91]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [93]:
tweet='Go Sports! #Sports'

In [94]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [95]:
tweet.split('#')[1]

'Sports'

In [96]:
d

{'key1': 'item1', 'key2': 'item2'}

In [97]:
d.keys()

dict_keys(['key1', 'key2'])

In [98]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [100]:
lst=[1,2,3]

In [102]:
lst.pop()

3

In [103]:
lst

[1, 2]

In [105]:
'x' in [1,2,3]

False

In [106]:
'x' in ['x','y','z']

True

### Python basics - Exercises

In [107]:
7**4

2401

In [109]:
s='Hi there Sam!'
list_s=s.split()
list_s

['Hi', 'there', 'Sam!']

In [110]:
list_s = [w.replace('Sam', 'dad') for w in list_s]
list_s

['Hi', 'there', 'dad!']

In [111]:
planet="Earth"
diameter=12742

In [115]:
print('planet: {}\ndiameter: {}'.format(planet,diameter))

planet: Earth
diameter: 12742

In [116]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [124]:
lst[3][1][2]

['hello']

In [174]:
d={'k1': [1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [176]:
## Main difference between tuple and list
## tuple can contain list(s)

In [183]:
def domainGet(x):
    x=x.partition('@')[2]
    print(x)
    
domainGet('user@domain.com')

domain.com

In [185]:
def findDog(x):
    if 'dog' in x:
        print(True)
        
findDog('Is there a dog here?')

True

In [186]:
def countDog(x):
    count = x.count('dog')
    print(count)
    
countDog('This dog runs faster than the other dog dude!')

2

In [195]:
seq=['soup','dog','salad','cat','great']
filter_list=list(filter(lambda x: x.startswith('s'), seq))
filter_list

['soup', 'salad']

#### Final problem

In [228]:
def caught_speeding(speed, is_birthday):
    if (is_birthday==False):
        speed=speed+5
        if (speed<=60):
            print('No Ticket')
        elif (speed>=61) & (speed<=80):
            print('Small Ticket')
        else:
            print('Big Ticket')
    else:
        if (speed<=60):
            print('No Ticket')
        elif (speed>=61) & (speed<=80):
            print('Small Ticket')
        else:
            print('Big Ticket')

In [234]:
caught_speeding(75,False)

Small Ticket

In [235]:
caught_speeding(76,False)

Big Ticket

In [230]:
caught_speeding(81,True)

Big Ticket